name: Crear Ambiente Efimero
on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  crear-ambiente:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 
     #ECR Login     
      - name: Docker Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      
      #Build, tag y push
      - name: Build, Tag and Push Docker image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_NAME }}
          IMAGE_TAG: pr-${{ github.event.pull_request.number }}
        run: |
          # 1. Crear el repositorio si no existe
          aws ecr describe-repositories --repository-names $ECR_REPOSITORY || aws ecr create-repository --repository-name $ECR_REPOSITORY

          # 2. Build de la imagen
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG .

          # 3. Tag y Push a ECR
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      #- name: Vulnerabilities check
      #  env:
      #    ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_NAME }}
      #    IMAGE_TAG: pr-${{ github.event.pull_request.number }} 
      #  run: |
      #    echo "Esperando que el escaneo de la imagen $IMAGE_TAG termine..."

      #    aws ecr wait image-scan-complete \
      #        --repository-name $ECR_REPOSITORY \
      #        --image-ids imageTag=$IMAGE_TAG

          # Obtiene el resumen de vulnerabilidades
       #   SCAN_FINDINGS=$(aws ecr describe-image-scan-findings \
       #       --repository-name $ECR_REPOSITORY \
       #       --image-id imageTag=$IMAGE_TAG \
       #       --query 'imageScanFindings.findingSeverityCounts' \
       #       --output json)

          # Analiza y falla si encuentra vulnerabilidades CRITICAL
         # if echo "$SCAN_FINDINGS" | grep -q 'CRITICAL'; then
         #     echo "FALLA DE SEGURIDAD: Se encontraron vulnerabilidades CRÍTICAS en la imagen."
         #     aws ecr describe-image-scan-findings --repository-name $ECR_REPOSITORY --image-id imageTag=$IMAGE_TAG --max-results 10
         #     exit 1 # Forzar la falla del pipeline, bloqueando el despliegue
         # fi
          
        #  echo "✅ Escaneo completado. No se encontraron vulnerabilidades críticas."
          
      #Deploy con Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Plan & Apply
        env:
          TF_VAR_pr_number: ${{ github.event.pull_request.number }}
          TF_VAR_vpc_id: ${{ secrets.VPC_ID }}
          TF_VAR_public_subnets: ${{ secrets.PUBLIC_SUBNETS }}
          TF_VAR_private_subnets: ${{ secrets.PRIVATE_SUBNETS }}
          TF_VAR_ecr_url: ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY_NAME }}
        run: |
          terraform plan -out=plan.out
          terraform apply -auto-approve plan.out
        working-directory: ./terraform